:root {
    --white-color: #F5F5F5;
    --tamna: #324054;
    --light-blue: #71839B;
    --linear-gradient: (90deg, #98C644 0%, #59963C 100%);
    --zelena-svijetla: #ECF4DA;
    --zelena-tamna: #235A13;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Sora, sans-serif;
    color: var(--tamna);
    margin: 0;
    width: 100%;
    padding: 16px;
}

img {
    max-width: 100%;
}

.landing-fullwidth {
    padding: 60px 0;

    position: relative;
}

.bg-zelena-svijetla { background-color: var(--zelena-svijetla); }
.bg-zelena-tamna { background-color: var(--zelena-tamna); }
.bg-tamna { background-color: var(--tamna); }

.text-zelena-svijetla { color: var(--zelena-svijetla); }
.text-zelena-tamna { color: var(--zelena-tamna); }
.text-tamna { color: var(--tamna); }

.landing-corner {
    position: absolute;
    top: 0;
    right: 0;
    
    width: 50%;
    height: 100%;

    background-color: transparent;

    border-bottom-left-radius: 500px;

    z-index: -1;
}

.section2-bg-container {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    padding: 60px 0 60px; 
    z-index: -1;
}

.section2-bg {
    height: 100%; 
    background-color: var(--zelena-svijetla);
    border-radius: 54px;
}

.section3-bg {
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-bottom: 5px; 
    background-color: var(--zelena-svijetla);
    border-radius: 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


h1 {
    font-weight: 700; 
}

.position-relative {
    position: relative;
}

.d-flex { display: flex; }
.d-none { display: none; }
.d-block { display: block; }

.flex-wrap { flex-wrap: wrap; }

.flex-column { flex-direction: column; }
.flex-column-reverse { flex-direction: column-reverse; } 
.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }

.w-50 { width: 50%; }
.w-100 { width: 100%; }

.mw-100 { max-width: 100%; }

.align-items-center { align-items: center; }
.align-items-end { align-items: end; }

.justify-content-start { justify-content: start; }
.justify-content-end { justify-content: end; }
.justify-content-between { justify-content: space-between; }

.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }

.text-align-r {
    text-align: right;
}

#section2-text {
    padding: 100px 32px 0;
}

/* Desktop */
@media screen and (min-width: 728px) {
    body {
        padding: 0;
    }

    .w-d-50 {
        width: 50%;
    }

    .w-d-100 {
        width: 100%
    }

    .landing-corner {
        background-color: var(--zelena-svijetla);
    }

    .d-d-flex { display: flex; }
    .d-d-none { display: none; }
    .d-d-block { display: block; }

    .flex-d-column { flex-direction: column; }
    .flex-d-column-reverse { flex-direction: column-reverse; } 
    .flex-d-row { flex-direction: row; }
    .flex-d-row-reverse { flex-direction: row-reverse; }

    #section2-text {
        padding: 100px 60px;
    }
}

.input {
    border: 1px solid #ddd;
    padding: 12px;
    line-height: 1;
    border-radius: 6px;
    font-family: Sora, sans-serif;
}

.button {
    background-color: #fff;
    line-height: 1;
    border-radius: 6px;
    border: 1px solid transparent;
}

.button-white {
    border: 1px solid #ddd;
    padding: 12px;
}

.form-group .input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-group .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: transparent;
}

.popup-container {

    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    padding: 20px;
    overflow-y: auto;
}

.popup {
    text-align: center;
    background: white;
    padding: 25px 50px;
    border-radius: 12px;
}

footer {
    margin-bottom: 50px;
}